.settings {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
}

.settings__header {
    min-width: 95%;
    height: 10%;
    margin-bottom: 50px;
}

.settings__header--title {
    margin-left: 50px;
}

.settings__options {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 50px;
}

.button__Speichern--action {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 200px;
}