body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.app__content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-self: center;
}