[class^="button__"], [class^="button__"][class$="--default"] {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: lightgrey;
    color: dimgray;
    border-radius: 10px;
    width: 100%;
    min-width: 50px;
    min-height: 30px;
    padding: 5px;
    font-weight: bold;
    margin: 5px;
}

[class^="button__"][class$="--action"] {
    background: blue;
    color: white;
}