.floatingLabel {
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
}

.floatingLabel * {
  width: 95%;
}

.floatingLabel__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.floatingLabel__input {
  min-height: 30px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
}

.floatingLabel__input:focus + .floatingLabel__label,
.floatingLabel__input:valid + .floatingLabel__label {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
  