.landing {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
}

.landing__header {
    min-width: 95%;
    height: 10%;
    margin-bottom: 50px;
}

.landing__header--title {
    margin-left: 50px;
}

.landing__content {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 50px;
}