.nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 15vw;
    height: 100%;
    background: lightgrey;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 0 5px -5px #333;
}

.collapsed.nav {
    width: 2vw;
}

.nav__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5%;
}

.nav__header--icon {
    cursor: pointer;
    padding: 0 10px 0 10px;
    transform: rotate(180deg); 
}

.collapsed .nav__header--icon {
    transform: rotate(0deg); 
}

.nav__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 95%;
}

.collapsed .nav__item--link {
    visibility: hidden;
}

.collapsed .nav__item--icon {
    width: 20px;
    margin-left: 30px;
}

.nav__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    width: 80%;
    padding: 5%;
    text-decoration: none;
    color: black;
}

.nav__item:last-child {
    margin-top: auto;
}

.nav__item--icon {
    height: auto;
    width: 10%;
}

.nav__item--link {
    padding: 5px 0 5px 0;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px darkgrey;
    margin-left: 5%;
    width: 85%
}

.nav__item--link:hover {
    background: grey;
    color: white;
}

.active .nav__item--link {
    border: 2px solid white;
    color: white;
    box-shadow: 1px 1px lightgrey;
}

.active .nav__item--link:hover {
    cursor: default;
    background: transparent;
}